# Ignore everything
*

# Except this gitignore file
!.gitignore

# Allow wp-content folder
!wp-content/

# Ignore everything in wp-content except plugins
wp-content/*
!wp-content/plugins/

# Allow all plugin folders and their contents
!wp-content/plugins/*/
!wp-content/plugins/**

# for akismet default plugin and php files
wp-content/plugins/akismet
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/plugins/wpschoolpress
